.layout {
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  margin: 0 auto;
  gap: 30px;
}

#root {
  background-color: #f1efda;
  min-height: 100vh;
}

.qr-hover:hover .qr-code{
  transform: scale(3);
}